---
// @ts-nocheck
import { SITE_DESCRIPTION } from "../../consts";
import { fetchExhibits } from "./api";
const exhibits = await fetchExhibits();
// console.log(exhibits)
---

<section id="main">
  <!-- Items -->
  <div class="items">
    <div class="item intro span-2">
      <h1>Globalization</h1>
      <p>
        {SITE_DESCRIPTION}
      </p>
    </div>
    <article class="item thumb span-3">
      <h2>{exhibits[5].fields.title}</h2>
      <a href={exhibits[5].fields.imageUrl} class="image"
        ><img src={exhibits[5].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-1">
      <h2>{exhibits[12].fields.title}</h2><a href={exhibits[12].fields.imageUrl} class="image"
        ><img src={exhibits[12].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-2">
      <h2>{exhibits[17].fields.title}</h2><a href={exhibits[17].fields.imageUrl} class="image"
        ><img src={exhibits[17].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-3">
      <h2>{exhibits[13].fields.title}</h2><a href={exhibits[13].fields.imageUrl} class="image"
        ><img src={exhibits[13].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-2">
      <h2>{exhibits[10].fields.title}</h2><a href={exhibits[10].fields.imageUrl} class="image"
        ><img src={exhibits[10].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-2">
      <h2>{exhibits[2].fields.title}</h2>
      <a href={exhibits[2].fields.imageUrl} class="image"
        ><img src={exhibits[2].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-3">
      <h2>{exhibits[7].fields.title}</h2>
      <a href={exhibits[7].fields.imageUrl} class="image"
        ><img src={exhibits[7].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-2">
      <h2>{exhibits[8].fields.title}</h2><a href={exhibits[8].fields.imageUrl} class="image"
        ><img src={exhibits[8].fields.imageUrl} alt="" /></a
      >
    </article>
  </div>

  <!-- Items -->
  <div class="items">
    <article class="item thumb span-3">
      <h2>{exhibits[9].fields.title}</h2><a href={exhibits[9].fields.imageUrl} class="image"
        ><img src={exhibits[9].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-2">
      <h2>{exhibits[1].fields.title}</h2>
      <a href={exhibits[1].fields.imageUrl} class="image"
        ><img src={exhibits[1].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-2">
      <h2>{exhibits[11].fields.title}</h2><a href={exhibits[11].fields.imageUrl} class="image"
        ><img src={exhibits[11].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-1">
      <h2>{exhibits[14].fields.title}</h2><a href={exhibits[14].fields.imageUrl} class="image"
        ><img src={exhibits[14].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-2">
      <h2>{exhibits[6].fields.title}</h2>
      <a href={exhibits[6].fields.imageUrl} class="image"
        ><img src={exhibits[6].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-2">
      <h2>{exhibits[3].fields.title}</h2>
      <a href={exhibits[3].fields.imageUrl} class="image"
        ><img src={exhibits[3].fields.imageUrl} alt="" /></a
      >
    </article>

    <article class="item thumb span-3">
      <h2>{exhibits[4].fields.title}</h2>
      <a href={exhibits[4].fields.imageUrl} class="image"
        ><img src={exhibits[4].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-1">
      <h2>{exhibits[15].fields.title}</h2><a href={exhibits[15].fields.imageUrl} class="image"
        ><img src={exhibits[15].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-2">
      <h2>{exhibits[16].fields.title}</h2><a href={exhibits[16].fields.imageUrl} class="image"
        ><img src={exhibits[16].fields.imageUrl} alt="" /></a
      >
    </article>
    <article class="item thumb span-1">
      <h2>{exhibits[0].fields.title}</h2>
      <a href={exhibits[0].fields.imageUrl} class="image"
        ><img src={exhibits[0].fields.imageUrl} alt="" /></a
      >
    </article>
  </div>
</section>
